{% extends "base.html" %}

{% block title %}Zachary Faddis's home on the internet{% endblock %}

{% block content %}
<h1>About Me</h1>

<p>Hello, my name is Zach Faddis. I am a computer programmer and an aspiring
software engineer. I am interested in Linux, security, mobile/meb
development, and hacking my way into a better future. I currently call San
Antonio, TX home. Although after having lived in 7 states and visiting
most of the rest, I don't truly have a concept of home other than wherever
I happen to be at that moment. When I'm not working working on a software
project I can likely be found biking around town or hiking on some dusty
trail.</p>

<p>I started this website for several reasons. First, to learn about web
development. Second, to have a platform for people and employers to find
me and see what I'm about. Finally, and most importantly, to serve as a
creative outlet where I can share what I'm working on with the world and perhaps
some of my thoughts as well. This website doesn't have a theme other than
whatever happens to interest me, so expect a wide range of content.Also
I'm just getting into web development so expect frequent changes to this
website as I learn.</p>
{% endblock %}


