<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><a href="https://zfadd.is/">Zachary</a><sup>Faddis</sup></h1>
      <div class="menu">
	<h4><a href="https://zfadd.is/about">About</a></h4>
	<h4><a href="https://zfadd.is/resume">Resume</a></h4>
	<h4><a href="https://zfadd.is/blog">Blog</a></h4>
      </div>
    </header>
    <article>
      {% block content %}     
      {% endblock %}
    </article>
    
  </body>
</html>
