
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
header {
/*  height: 5em;*/
    border-bottom: 5px solid ;
}

header h1 sup{
    text-decoration: underline;
}

header .menu {
    display: flex;
    margins: 0;
}

header .menu h4{
    font-family: 'Spectral SC', serif;
    flex: 1;

  }

